<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.csyq.controller"></context:component-scan>
	
	<!-- 启用注解驱动， 如果不配置那么Controller可能没有解析，而配置了mvc:default-servlet-handler后所有的请求会交给DefaultServletHttpRequestHandler处理，当发起业务
		请求时没有匹配的处理请求类，导致业务请求无法进入Controller中的方法-->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 不过滤静态资源 -->
	<mvc:default-servlet-handler/>
	
	<!-- 配置视图解析器，如何把handler方法返回的值解析为实际的物理视图 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>
